.config
.config.old
arch/arm64/boot/Image
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r00.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r00.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r00.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r00.dtb.dts.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r01.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r01.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r01.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r01.dtb.dts.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r02.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r02.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r02.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r02.dtb.dts.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r03.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r03.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r03.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r03.dtb.dts.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r04.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r04.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r04.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r04.dtb.dts.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r05.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r05.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r05.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r05.dtb.dts.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r06.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r06.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r06.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r06.dtb.dts.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r07.dtb.cmd
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r07.dtb.d.dtc.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r07.dtb.d.pre.tmp
arch/arm64/boot/dts/samsung/.sm7150-sec-a71-eur-overlay-r07.dtb.dts.tmp
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r00.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r00.dtb.reverse.dts
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r01.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r01.dtb.reverse.dts
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r02.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r02.dtb.reverse.dts
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r03.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r03.dtb.reverse.dts
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r04.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r04.dtb.reverse.dts
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r05.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r05.dtb.reverse.dts
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r06.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r06.dtb.reverse.dts
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r07.dtb
arch/arm64/boot/dts/samsung/sm7150-sec-a71-eur-overlay-r07.dtb.reverse.dts
arch/arm64/include/generated/
dts.sh
include/config/
include/generated/
out/
scripts/.asn1_compiler.cmd
scripts/.extract-cert.cmd
scripts/.kallsyms.cmd
scripts/.pnmtologo.cmd
scripts/.sign-file.cmd
scripts/.sortextable.cmd
scripts/asn1_compiler
scripts/basic/.bin2c.cmd
scripts/basic/.fixdep.cmd
scripts/basic/bin2c
scripts/basic/fixdep
scripts/dtc/.checks.o.cmd
scripts/dtc/.data.o.cmd
scripts/dtc/.dtc-lexer.lex.o.cmd
scripts/dtc/.dtc-parser.tab.o.cmd
scripts/dtc/.dtc.cmd
scripts/dtc/.dtc.o.cmd
scripts/dtc/.flattree.o.cmd
scripts/dtc/.fstree.o.cmd
scripts/dtc/.livetree.o.cmd
scripts/dtc/.srcpos.o.cmd
scripts/dtc/.treesource.o.cmd
scripts/dtc/.util.o.cmd
scripts/dtc/checks.o
scripts/dtc/data.o
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-lexer.lex.o
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/dtc/dtc-parser.tab.o
scripts/dtc/dtc.o
scripts/dtc/flattree.o
scripts/dtc/fstree.o
scripts/dtc/livetree.o
scripts/dtc/srcpos.o
scripts/dtc/treesource.o
scripts/dtc/util.o
scripts/extract-cert
scripts/genksyms/.genksyms.cmd
scripts/genksyms/.genksyms.o.cmd
scripts/genksyms/.lex.lex.o.cmd
scripts/genksyms/.parse.tab.o.cmd
scripts/genksyms/genksyms
scripts/genksyms/genksyms.o
scripts/genksyms/lex.lex.c
scripts/genksyms/lex.lex.o
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/genksyms/parse.tab.o
scripts/kallsyms
scripts/kconfig/.conf.cmd
scripts/kconfig/.conf.o.cmd
scripts/kconfig/.zconf.tab.o.cmd
scripts/kconfig/conf
scripts/kconfig/conf.o
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/kconfig/zconf.tab.o
scripts/mod/.devicetable-offsets.s.cmd
scripts/mod/.elfconfig.h.cmd
scripts/mod/.empty.o.cmd
scripts/mod/.file2alias.o.cmd
scripts/mod/.mk_elfconfig.cmd
scripts/mod/.modpost.cmd
scripts/mod/.modpost.o.cmd
scripts/mod/.sumversion.o.cmd
scripts/mod/devicetable-offsets.h
scripts/mod/devicetable-offsets.s
scripts/mod/elfconfig.h
scripts/mod/empty.o
scripts/mod/file2alias.o
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/mod/modpost.o
scripts/mod/sumversion.o
scripts/pnmtologo
scripts/selinux/genheaders/.genheaders.cmd
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/.mdp.cmd
scripts/selinux/mdp/mdp
scripts/sign-file
scripts/sortextable

